<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.js"></script>

</head>
<body>
    <div id="app">

          <!-- template help us if we style the group div by directive if  -->
          <!-- navigator not read  template tag is only read the group div  -->
        <!-- <div v-if="active"> -->
            <template v-if="active">      
            <div > it's shown where active data is true</div>
            <div > it's shown where active data is true</div>
            <div > it's shown where active data is true</div>
            </template>
        <!-- </div> -->
        
    </div>    

    <script>
      new Vue({
         'el' : '#app',
         'data' : {
             'active':true
         }
      });
    </script>
</body>
</html>