<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
    <script src="vue.js"></script>

</head>
<body>
    <div id="app">
    <input type="text" V-model="name">
    <textarea name="" id="" cols="30" rows="10" v-model="name"></textarea>
    <br>
    <label for="one">Radio one</label>
    <input type="radio" name="" id="one" value="One" v-model="radidvalue">
    <br>
    <label for="two">Radio tow</label>
    <input type="radio" name="" id="two" value="two" v-model="radidvalue"> 
    <!-- by default the radio two selected because     radidvalue is'two', -->
     <br><br>
    <label for="second_radio">Second Radio</label>
    <input type="radio" name="" id="second_radio" value="secondradio" v-model="secondradio">
      <br>

    <label for="checkbox_one">checkbox one</label>
    <input type="checkbox" name="" id="checkbox_one" value="one" v-model="checkbox_array"> <br>
    <label for="checkbox_two">checkbox two</label>
    <input type="checkbox" name="" id="checkbox_two" value="two" v-model="checkbox_array">  
    <!-- two  checkbox are selected because two have same value are  checkbox_array:['one','two']-->

    </div>
     <script>
      new Vue({
          'el': '#app',
            'data':{
                name : 'anass is learning about forms',
                 radidvalue:'two',
                 secondradio:'',
                 checkbox:false,
                 checkbox_array:['one','two']
            }
      });
     </script>
</body>
</html>