<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.js"></script>

</head>
<body>
      <div id="app">
        <div v-for="item in list">
             {{item}}
        </div>
        <button @click="AddNewToList" >Add New item to list </button>
        <button @click="changeItem" >Change items from list </button>
         <button @click="updateItem">Update case two from list</button>
         <div v-for="(user,key) in person">
                {{key}} : {{user}}
         </div>
         <button @click="updateAge">Update Age from person</button>

      </div>
      <script>
          new Vue({
              'el': '#app',
               'data':{
                      list : [1,3,4,56],
                      person:{name:'Raisi Anass'}      
               },
               'methods':{
                  'AddNewToList': function(){
                       this.list.push(10)
                  } ,
                  'changeItem':function(){
                      this.list=[1,2,3,4,5]
                  },
                  'updateItem':function(){
                    //    this.list[2]=2;  not working
                       Vue.set(this.list,2,100);
                  },
                  'updateAge':function(){
                    // this.person.Age=23;
                    Vue.set(this.person,'Age',27); //insert data age if undeclared 
                  }
               }

          })
      </script>
</body>
</html>