<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.js"></script>
    
</head>
<body>
    <div id="app">
             <div v-if="name">hi anass i'm using if directive exemple</div>
             <div v-if="number < 0">the count is smaller</div>
             <div v-else-if=" number >3 ">the count is meduim</div>
             <div v-else>the count is bigger</div>
            <button @click="name=!name">Toggle</button>
    </div>
    <script>
        new Vue({
         'el':'#app',
         'data':{
            name:false,
            number:4,
         }
        });
    </script>
</body>
</html>