<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.js"></script>
    <link rel="stylesheet"  type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/fontawesome.min.js" integrity="sha512-5qbIAL4qJ/FSsWfIq5Pd0qbqoZpk5NcUVeAAREV2Li4EKzyJDEGlADHhHOSSCw0tHP7z3Q4hNHJXa81P92borQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    </head>
    <body>
    <div id="app">
         <!-- <template v-for="item in rate">1</template> <br> -->
         <!-- <template v-for="item in 5-rate">1</template> -->
    <hr>
    <!-- <span class="fa fa-star" v-for="item in parseInt(rate)"></span><span class="fa fa-star" v-for="item in 5 -rate"></span> -->
    <input v-model="rate">
    <!-- <i  @click="rate=item" class="fas fa-star" v-for="item in parseInt(rate)"></i>
     <i class="fal fa-star" v-for="item in 5-rate"></i> -->
     <span  @click="rate=item" class="fas fa-star" v-for="item in parseInt(rate)" ></span> 
     <!-- hadi li kant9as bwahed kolama brakna najma 3amra li 9bal menha  -->
     <span @click="rate=item+rate" class="fal fa-star" v-for="item in 5-rate"></span> 
     <!-- hadi katzid najma kahla kolama brakna 3la najma khawya  -->
    <br>
    </div>
    <script>
        new Vue({
            'el': '#app',
            'data':{
                rate:'4'
            }
        });
    </script>
</body>
</html>