<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.js"></script>

</head>
<body>
     <div id="app">
           <ul>
               <li v-for="number in numbers">{{number}}</li>
               <hr>
               <h3>list numbers modelo =0</h3>     
              <li v-for="number in evenNumber()">{{number}}</li>
           </ul>
           <ul>
               <li v-for="user in users">{{user.name}}, {{user.age}}</li>
               <hr>
                <h3>list user age under 12</h3> 
               <li v-for="user in filterage()">{{user.name}}, {{user.age}}</li>
           </ul>
           <hr>
              <h3>search by name caracter</h3>
             <input v-model="search">
           <ul>
                <li v-for="user in filtername()">{{user.name}}, {{user.age}}</li>
           </ul>
     </div>
     <script>
         new Vue({
               'el' : '#app',
               'data' :{
                     numbers :[1,2,3,4,5,6,7,8,9,10],
                     users:[{name:'anass', age:12},{name:'zak', age:10},{name:'saki', age:2}],
                     search :''
               },
               'methods':{
               evenNumber:function(){
                    return this.numbers.filter(function(value){
                        return value%2==0;    //ba9i kisma ykon ysawi 0
                    });     
               },
               filterage:function(){
                        return this.users.filter(function(value){
                            return value.age <12;   
                        });
                    
               },
               filtername :function(){
                var app=this;
                  return this.users.filter(function(value){
                         return value.name.indexOf(app.search)!==-1;    //show when it be by caracter
                  }); 
               }
            }
         });
     </script>
</body>
</html>